
.header{
    font-family: Verdana;
    font-size:14px;
    font-weight :bold;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
    display:inline-flex;
    align-items: center;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
    margin-bottom: 20px;
    position:fixed;
    height:60px;
    background-color: white;
    top:0px;
}
.logo{
    display: inline-flex;
    align-items: center;
    margin: 0 30px;
}
.title{
    padding-left: 8px;
    color:mediumaquamarine;
}
nav{ margin:0 30px;
}
a {color:black;
padding:15px;
}
.image-content {
    background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
